In [3]:
import pandas as pd

In [6]:
data={'categories':['A','B','c','A','B','c','A','B','c','A','B','c','A','B','c','A','B','c','A','B','c','D']}
data

{'categories': ['A',
  'B',
  'c',
  'A',
  'B',
  'c',
  'A',
  'B',
  'c',
  'A',
  'B',
  'c',
  'A',
  'B',
  'c',
  'A',
  'B',
  'c',
  'A',
  'B',
  'c',
  'D']}

In [7]:
df=pd.DataFrame(data)
df

   categories
0           A
1           B
2           c
3           A
4           B
5           c
6           A
7           B
8           c
9           A
10          B
11          c
12          A
13          B
14          c
15          A
16          B
17          c
18          A
19          B
20          c
21          D

In [10]:
one_hot_encoded=pd.get_dummies(df,columns=['categories'])
one_hot_encoded

    categories_A  categories_B  categories_D  categories_c
0           True         False         False         False
1          False          True         False         False
2          False         False         False          True
3           True         False         False         False
4          False          True         False         False
5          False         False         False          True
6           True         False         False         False
7          False          True         False         False
8          False         False         False          True
9           True         False         False         False
10         False          True         False         False
11         False         False         False          True
12          True         False         False         False
13         False          True         False         False
14         False         False         False          True
15          True         False         False         False
16         False          True         False         False
17         False         False         False          True
18          True         False         False         False
19         False          True         False         False
20         False         False         False          True
21         False         False          True         False

In [12]:
one_hot_encoded=pd.get_dummies(df,columns=['categories'],prefix='dumy',drop='last')
one_hot_encoded

TypeError: get_dummies() got an unexpected keyword argument 'drop'